NEXT_PUBLIC_BRAND_PRODUCT_NAME = "Labra·GO"
NEXT_PUBLIC_BRAND_COLOR = "blue"

NEXT_PUBLIC_GRAPHQL_API_URL = "http://localhost:4000"

NEXT_PUBLIC_GRAPHQL_QUERY_API_URL = "http://localhost:4000/query"
NEXT_PUBLIC_GRAPHQL_QUERY_PLAYGROUND_URL = "http://localhost:4000/playground"

NEXT_PUBLIC_GRAPHQL_ADMIN_API_URL = "http://localhost:4000/admin/query"
NEXT_PUBLIC_GRAPHQL_ADMIN_PLAYGROUND_URL = "http://localhost:4000/admin/playground"

NEXT_PUBLIC_CENTRIFUGO_URL = "ws://localhost:8000/connection/websocket"