package schema

import (
	"entgo.io/ent"
{{- range $edge := $ }}
{{- if eq $edge.Type.Name "File" }}
	"entgo.io/ent/schema/edge"
    {{- break }}
{{- end }}
{{- end }}
)

var additionalFileEdges = []ent.Edge{
{{- range $edge := $ }}
{{- if ne $edge.Type.Name "File" }}
{{- continue }}
{{- end }}
    edge.From("{{ToLower $edge.Owner.Name}}_{{$edge.Name}}", {{$edge.Owner.Name}}.Type).
        Ref("{{$edge.Name}}"),
{{- end }}
}