package svc

import (
	"app/domain/repo"
	"app/interfaces/svc"
)

var (
	ErrServiceNotSetInContext = "service is not set in context"
)

type Service struct {
	// Node                  svc.Node
    {{- range $n := $.Nodes }}
	{{$n.Name}}              svc.{{$n.Name}}
    {{- end }}
}

func New(repository *repo.Repository) *Service {
	return &Service{
		// Node:                  NewNode(repository),
        {{- range $n := $.Nodes }}
        {{$n.Name}}:              New{{$n.Name}}(repository),
        {{- end }}
	}
}
