{{- define "edge"}}
        {{- /* Determine To vs From: M2O uses To (owns FK), O2M with Ref uses From (inverse) */}}
        {{- $useTo := false }}
        {{- if eq $.Edge.RelationType "ManyToOne" }}
            {{- /* M2O always uses To - the entity owns the foreign key */}}
            {{- $useTo = true }}
        {{- else if eq $.Edge.RelationType "OneToMany" }}
            {{- /* O2M: if Ref is set, use From (inverse), otherwise use To (owns FK) */}}
            {{- $useTo = eq $.Edge.Ref "" }}
        {{- else }}
            {{- /* For other types (O2O, M2M, One), use Ref to determine */}}
            {{- $useTo = eq $.Edge.Ref "" }}
        {{- end }}
        edge.{{ if $useTo }}To{{ else }}From{{end}}("{{$.Edge.EntName}}", {{$.Edge.Type}}.Type).
            {{- if and ($.Edge.Required | IsTrue) $useTo }}
            Required().
            {{- end}}
            {{- if not $useTo }}
            Ref("{{ $.Edge.Ref }}").
            {{- end}}
            {{- if and $useTo (or (eq $.Edge.RelationType "OneToOne") (eq $.Edge.RelationType "ManyToOne") (eq $.Edge.RelationType "One"))}}
            Unique().
            {{- end }}
            Annotations(
                entgql.Skip(entgql.SkipMutationCreateInput, entgql.SkipMutationUpdateInput),
				annotations.Edge{
					Caption:      "{{$.Edge.Caption}}",
                    RelationType: entity.RelationType{{$.Edge.RelationType.VariableName}},
				},
            {{- if eq $.Ref nil}}
            ),
            {{- else}}
            ).
            From("{{$.Ref.EntName}}").
            {{- if $.Ref.Required | IsTrue  }}
            Required().
            {{- end}}
            {{- if  or (eq $.Ref.RelationType "O2O") (eq $.Ref.RelationType "O2M") (eq $.Ref.RelationType "One")}}
            Unique().
            {{- end }}
			Annotations(
                entgql.Skip(entgql.SkipMutationCreateInput, entgql.SkipMutationUpdateInput),
				annotations.Edge{
					Caption:      "{{$.Ref.Caption}}",
                    RelationType: entity.RelationType{{$.Edge.RelationType.VariableName}},
				},
			),
            {{- end}}
{{- end}}