{{- define "Enum" }}
		{{- if eq $.Type "EntityState" }}
		field.Enum("{{$.EntName}}").
			GoType(entity.EntityState("")).
            {{- if $.Required | IsFalse  }}
            Optional().
            {{- end}}
            {{- if $.DefaultValue}}
			Default(string(entity.EntityState{{$.DefaultValue}})).
            {{- end}}
			Annotations(
                entgql.Type("{{$.Type}}"),
			),
		{{- else }}
		field.Enum("{{$.EntName}}").
			GoType(enum.{{$.Type}}("")).
            {{- if $.Required | IsFalse  }}
            Optional().
            {{- end}}
            {{- if $.DefaultValue}}
			Default(string(enum.{{$.Type}}{{$.DefaultValue}})).
            {{- end}}
			Annotations(
                entgql.Type("{{$.Type}}"),
			),
		{{- end }}
{{- end }}